{# dhcp_snooping.j2 — ios-xe #}
! DHCP Snooping
! Intent: {{ intent_id }}
!
ip dhcp snooping
{% for vlan in vlans | default([]) %}
ip dhcp snooping vlan {{ vlan }}
{% endfor %}
{% for iface in trusted_interfaces | default([]) %}
interface {{ iface }}
 ip dhcp snooping trust
{% endfor %}
!
