{# ipv6_interface.j2 — ios-xe #}
! IPv6 Interface
! Intent: {{ intent_id }}
!
ipv6 unicast-routing
!
interface {{ interface }}
 ipv6 address {{ ipv6_address }}
{% if link_local | default("") %}
 ipv6 address {{ link_local }} link-local
{% endif %}
{% if ipv6_nd_ra_suppress | default(false) %}
 ipv6 nd ra suppress
{% endif %}
{% if description | default("") %}
 description {{ description }}
{% endif %}
!
