{# isis_removal.j2 — ios-xe #}
! Remove IS-IS
! Intent: {{ intent_id }}
!
{% for iface in interfaces | default([]) %}
interface {{ iface.name }}
 no ip router isis {{ process_tag }}
{% endfor %}
no router isis {{ process_tag }}
!
