{# l2vpn_vpls.j2 — ios-xe #}
! L2VPN VPLS
! Intent: {{ intent_id }}
!
l2vpn vfi context {{ vfi_name }}
 vpn id {{ vpn_id }}
 autodiscovery bgp signaling ldp
{% for peer in peers | default([]) %}
  neighbor {{ peer.ip }} encapsulation mpls
{% endfor %}
!
