{# loopback.j2 — ios-xe #}
! Loopback Interface
! Intent: {{ intent_id }}
!
interface {{ interface }}
 ip address {{ ip_address }} {{ subnet_mask | default("255.255.255.255") }}
{% if description | default("") %}
 description {{ description }}
{% endif %}
{% if vrf | default("") %}
 vrf forwarding {{ vrf }}
{% endif %}
!
