{# service_insertion.j2 — junos #}
! Service Insertion (Service Chaining)
! Intent: {{ intent_id }}
!
{% for chain in chains | default([]) %}
set services service-set {{ chain.name }} interface-service service-interface {{ chain.interface | default("ms-0/0/0") }}
{% endfor %}
