{# dhcp_relay.j2 — ios-xr #}
! DHCP Relay
! Intent: {{ intent_id }}
!
dhcp ipv4
 interface {{ interface }} relay profile RELAY-1
!
dhcp ipv4
 profile RELAY-1 relay
  helper-address vrf default {{ helper_address }}
!
