{# multicast_vrf.j2 — ios-xr #}
! Multicast VRF
! Intent: {{ intent_id }}
!
multicast-routing
 vrf {{ vrf }}
  address-family ipv4
   interface all enable
!
router pim
 vrf {{ vrf }}
  address-family ipv4
   rp-address {{ rp_address }}
!
