{# nat64.j2 — ios-xr #}
! NAT64 Configuration
! Intent: {{ intent_id }}
!
service cgn {{ cgn_instance | default("NAT64") }}
 service-type nat64 stateful
  nat64 stateful {{ prefix }}
{% if v4_pool | default("") %}
  inside-vrf {{ inside_vrf | default("default") }}
   ipv4 pool {{ v4_pool.name }} {{ v4_pool.start }} {{ v4_pool.end }}
{% endif %}
!
