{# pseudowire.j2 — ios-xr #}
! Pseudowire
! Intent: {{ intent_id }}
!
l2vpn
 xconnect group {{ xconnect_group | default("XC-GROUP") }}
  p2p {{ xconnect_name | default("XC-1") }}
{% if attachment_circuit | default("") %}
   interface {{ attachment_circuit }}
{% endif %}
   neighbor ipv4 {{ peer_ip }} pw-id {{ vc_id }}
{% if pw_class | default("") %}
    pw-class {{ pw_class }}
{% endif %}
!
