{# dhcp_snooping.j2 — aos-cx #}
! DHCP Snooping
! Intent: {{ intent_id }}
!
dhcp-snooping
{% for vlan_item in vlans | default([]) %}
dhcp-snooping vlan {{ vlan_item }}
{% endfor %}
{% for iface in trusted_interfaces | default([]) %}
interface {{ iface }}
    dhcp-snooping trust
{% endfor %}
