{# pim.j2 — aos-cx #}
! PIM Multicast
! Intent: {{ intent_id }}
!
{% if rp_address | default("") %}
ip pim rp-address {{ rp_address }}{% if rp_group_list | default("") %} group-list {{ rp_group_list }}{% endif %}

{% endif %}
{% for iface in interfaces | default([]) %}
interface {{ iface.name }}
    ip pim-sparse
{% endfor %}
