{# syslog.j2 — aos-cx #}
! Syslog Configuration
! Intent: {{ intent_id }}
!
{% for server in servers | default([]) %}
logging {{ server.ip }}{% if server.severity | default("") %} severity {{ server.severity }}{% endif %}

{% if server.port | default("") %}
logging {{ server.ip }} port {{ server.port }}
{% endif %}
{% if server.transport | default("") %}
logging {{ server.ip }} transport {{ server.transport }}
{% endif %}
{% endfor %}
{% if source_interface | default("") %}
logging source-interface {{ source_interface }}
{% endif %}
